src/main/book/.DS_Store
src/main/book/chapter1.rst
src/main/book/chapter2.rst
src/main/book/chapter3.rst
src/main/book/chapter4.rst
src/main/book/chapter5.rst
src/main/book/chapter6.rst
src/main/html/dohavali2.html
src/main/html/dohavali3.html
src/main/html/dohavali4.html
src/main/html/dohavali_baapu.html
src/main/html/gita1.html
src/main/html/gita2.html
src/main/html/gita3.html
src/main/html/gita4.html
src/main/html/gita5.html
src/main/html/prashnotari1.html
src/main/html/saadhak_maanas.html
src/main/html/samvad1.html
src/main/html/samvad2.html
src/main/html/samvad3.html
src/main/html/shishya_guru1.html
src/main/html/shreeram_vasisth.html
